autoimport==1.4.0
black==24.3.0
commitizen==3.20.0
conan==2.2.2
cookiecutter==2.6.0
cruft==2.15.0
gita==0.16.6.6
mypy==1.9.0
nox==2024.3.2
pdm==2.12.4
pip-tools==7.4.1
poetry==1.8.2
pre-commit==3.7.0
ruff==0.3.4
shellcheck-py==0.10.0.1
tox==4.14.2
