autoimport==1.6.1
black==24.10.0
commitizen==3.30.0
conan==2.8.1
cookiecutter==2.6.0
cpplint==2.0.0
cruft==2.15.0
flake8==7.1.1
gita==0.16.7.2
mypy==1.12.1
nox==2024.10.9
pdm==2.19.3
pip-tools==7.4.1
poetry==1.8.4
pre-commit==4.0.1
python-gitlab==4.13.0
ruff==0.7.0
shellcheck-py==0.10.0.1
tox==4.23.2
