autoimport==1.6.1
black==24.10.0
commitizen==4.8.4
cookiecutter==2.6.0
copier==9.10.2
cpplint==2.0.2
cruft==2.16.0
flake8==7.3.0
mypy==1.18.1
nox==2024.10.9
pip-tools==7.5.0
poetry==2.1.4
pre-commit==4.3.0
pylint[spelling]==3.3.8
pyright==1.1.405
python-gitlab==5.6.0
refurb==2.1.0
ruff==0.12.12
shellcheck-py==0.11.0.1
tox==4.30.2
